.character-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
  padding: 1%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  margin: 1%;
  cursor: pointer;
}

.header {
  display: flex;
  width: 100%;
}

.description {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.character-container .description .attribute {
  width: 50%;
  text-align: center;
}

.character-container .header .initials {
  width: 10%;
  text-align: center;
  height: 50px;
  width: 50px;
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.character-container .header .name {
  width: 90%;
  padding-left: -10%;
  text-align: center;
}

.active a {
  background: black;
  color: white;
  border-radius: 50%;
}